@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  box-sizing: border-box;
  min-width: 1004px;
  font-family: "Hiragino Sans GB","microsoft yahei","Tahoma,arial","宋体","sans-serif";
}
body a {
  text-decoration: none;
  cursor: pointer;
}

.divider-line {
  border: none;
  border-top: 1px dotted #999;
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: none;
}

b {
  font-weight: 700;
}

.topbar, .navbar-menu, .adv-img, .services, .route-wraper, .ticket-group, .div-tab, .desc, .desc-content, .price-plan {
  margin-left: auto;
  margin-right: auto;
}

.top-line {
  border: none;
  border-bottom: 3px solid #ffd400;
}

.topbar {
  width: 960px;
}
.topbar-log-icon {
  height: 84px;
  width: 560px;
  background-color: #ffffff;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('../images/index/log.png?1443407088');
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.topbar-sign {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 240px;
}
.topbar-sign > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  height: 84px;
  line-height: 84px;
  vertical-align: middle;
}
.topbar-sign > li:first-child {
  padding-left: 0;
}
.topbar-sign > li:last-child {
  padding-right: 0;
}
.topbar-sign > li.last {
  padding-right: 0;
}
.topbar-sign > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0px 15px;
  line-height: 30px;
}
.topbar-sign > li > a:hover {
  background-color: #ffd400;
}
.topbar .contact {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 160px;
  height: 84px;
  background: #fff url('../images/index/contact.png?1443406873') no-repeat right center;
}

.navbar {
  width: 100%;
  background-color: #2e2e2e;
}
.navbar-menu {
  width: 960px;
  height: 45px;
}
.navbar-menu > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-menu > li:first-child {
  padding-left: 0;
}
.navbar-menu > li:last-child {
  padding-right: 0;
}
.navbar-menu > li.last {
  padding-right: 0;
}
.navbar-menu > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 45px;
  width: 238px;
  text-align: center;
  border-left: 1px solid #2e2e2e;
  border-right: 1px solid #2e2e2e;
  color: #ffffff;
}
.navbar-menu > li > a.active, .navbar-menu > li > a:hover {
  background-color: #ffd400;
  color: #2e2e2e;
}
.navbar.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.adv-img {
  *zoom: 1;
  width: 960px;
  margin-top: 90px;
}
.adv-img:after {
  content: "";
  display: table;
  clear: both;
}
.adv-img img {
  height: 90px;
  width: 100%;
}

.services {
  *zoom: 1;
  width: 960px;
  margin-top: 40px;
}
.services:after {
  content: "";
  display: table;
  clear: both;
}
.services li {
  float: left;
  *zoom: 1;
  width: 320px;
}
.services li:after {
  content: "";
  display: table;
  clear: both;
}
.services li img {
  float: left;
  width: 78px;
  height: 78px;
  margin-right: 12px;
}
.services li h1 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8em;
}
.services li span {
  font-size: 0.75em;
  line-height: 1.5em;
}

.footer {
  border-top: 1px dotted #dfdfdf;
  margin-top: 39px;
  text-align: center;
}
.footer .about {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  *zoom: 1;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  margin-top: 32px;
}
.footer .about:after {
  content: "";
  display: table;
  clear: both;
}
.footer .about li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #333333;
}
.footer .about li:first-child {
  padding-left: 0;
}
.footer .about li:last-child {
  padding-right: 0;
}
.footer .about li.last {
  padding-right: 0;
}
.footer .about li a {
  color: #3e85aa;
  margin: 0px 7px 0 7px;
}
.footer .about li.last {
  border-right: 0px;
}
.footer .copyright {
  height: 37px;
  text-align: center;
  display: block;
  line-height: 37px;
  vertical-align: middle;
  background-color: #373636;
  color: #666666;
  margin-top: 20px;
}

.ul-table {
  display: table;
}
.ul-table > ul {
  display: table-row;
}
.ul-table > ul > li {
  display: table-cell;
  line-height: 36px;
}

.route-wraper {
  width: 960px;
  margin-top: 30px;
  border: 1px solid #f2f2f2;
}
.route-wraper-header {
  height: 36px;
  width: 100%;
}
.route-wraper-header > h2 {
  padding-left: 10px;
  font-size: 18px;
  line-height: 36px;
}
.route-wraper-content {
  width: 100%;
  *zoom: 1;
}
.route-wraper-content:after {
  content: "";
  display: table;
  clear: both;
}
.route-wraper-content-left {
  float: left;
  width: 550px;
  display: inline;
}
.route-wraper-content-left .img-screen {
  width: 100%;
  height: 314px;
}
.route-wraper-content-left .img-screen > img {
  width: 100%;
  height: 100%;
}
.route-wraper-content-left .img-nav {
  font-size: 0px;
  position: relative;
  margin: 10px 0px;
}
.route-wraper-content-left .img-nav .img-nav-left-btn, .route-wraper-content-left .img-nav .img-nav-right-btn {
  position: absolute;
  z-index: 10;
}
.route-wraper-content-left .img-nav .img-nav-left-btn a, .route-wraper-content-left .img-nav .img-nav-right-btn a {
  display: block;
  width: 24px;
  height: 66px;
}
.route-wraper-content-left .img-nav .img-nav-left-btn {
  left: 0px;
  top: 0px;
}
.route-wraper-content-left .img-nav .img-nav-left-btn a {
  background: #fff url('../images/detail/left_btn.jpg?1443579900') no-repeat center center;
}
.route-wraper-content-left .img-nav .img-nav-right-btn {
  right: 0px;
  top: 0px;
}
.route-wraper-content-left .img-nav .img-nav-right-btn a {
  background: #fff url('../images/detail/right_btn.jpg?1443579901') no-repeat center center;
}
.route-wraper-content-left .img-nav .image-nav-btn {
  *zoom: 1;
  margin-left: 24px;
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 66px;
}
.route-wraper-content-left .img-nav .image-nav-btn:after {
  content: "";
  display: table;
  clear: both;
}
.route-wraper-content-left .img-nav .image-nav-btn > li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px;
}
.route-wraper-content-left .img-nav .image-nav-btn > li > a {
  display: block;
  overflow: hidden;
  width: 104px;
  height: 66px;
  border: 1px solid #ffffff;
}
.route-wraper-content-left .img-nav .image-nav-btn > li > a img {
  width: 100%;
  height: 100%;
}
.route-wraper-content-left .img-nav .image-nav-btn > li > a.active, .route-wraper-content-left .img-nav .image-nav-btn > li > a:hover {
  border: 1px solid #fe3000;
}
.route-wraper-content-right {
  float: right;
  width: 390px;
  display: inline;
}
.route-wraper-content-right .right-content-top {
  margin-bottom: 20px;
}
.route-wraper-content-right .right-content-top h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.route-wraper-content-right .right-content-top h2 {
  font-size: 18px;
  color: #999999;
}
.route-wraper-content-right .right-content {
  margin-top: 20px;
}
.route-wraper-content-right .right-content li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.route-wraper-content-right .right-content li b {
  color: #fe3000;
}
.route-wraper-content-right .right-content li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 5px;
  padding: 0px 10px;
  line-height: 24px;
  height: 24px;
  background-color: #fe3000;
  color: #ffffff;
  font-weight: bold;
}

.ticket-group {
  width: 960px;
  margin-top: 30px;
  border: 1px solid #f2f2f2;
  border-bottom: none;
}
.ticket-group-title {
  border-bottom: 1px solid #f2f2f2;
}
.ticket-group-title > h2 {
  font-size: 16px;
  color: #333333;
  line-height: 50px;
  height: 50px;
  padding-left: 10px;
}
.ticket-group-content ul.ticket {
  height: 120px;
  width: 100%;
  border-bottom: 1px dashed #f2f2f2;
}
.ticket-group-content ul.ticket li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
}
.ticket-group-content ul.ticket li.ticket-icon {
  width: 20%;
  line-height: 0px;
  vertical-align: middle;
  height: 120px;
}
.ticket-group-content ul.ticket li.ticket-icon > img {
  float: left;
  width: 90%;
  height: 80%;
  margin: 10px;
}
.ticket-group-content ul.ticket li.ticket-name {
  width: 36%;
  text-align: left;
}
.ticket-group-content ul.ticket li.ticket-name h2 {
  font-size: 18px;
  line-height: 24px;
}
.ticket-group-content ul.ticket li.ticket-name p {
  font-size: 14px;
  color: #999;
  line-height: 18px;
}
.ticket-group-content ul.ticket li.ticket-price {
  width: 10%;
  font-size: 24px;
  color: #fe3000;
  font-weight: 700;
}
.ticket-group-content ul.ticket li.ticket-market-price {
  width: 14%;
  color: #999;
}
.ticket-group-content ul.ticket li.ticket-btn {
  width: 10%;
}
.ticket-group-content ul.ticket li.ticket-btn > .btn-book {
  background-color: #fe3000;
  color: #fff;
  font-size: 16px;
}
.ticket-group-content ul.ticket li.ticket-btn > .btn-book:hover {
  background-color: rgba(254, 48, 0, 0.6);
}

.div-tab {
  width: 960px;
  margin-top: 30px;
  border: 1px solid #f2f2f2;
}
.div-tab-title {
  margin: 0px auto;
  width: 100%;
  background-color: #2e2e2e;
}
.div-tab-title > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 55px;
  width: 33.2%;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-left: 1px solid #2e2e2e;
}
.div-tab-title > li.active, .div-tab-title > li:hover {
  background-color: #fed330;
  border-left: 1px solid #2e2e2e;
}
.div-tab-content > h2 {
  line-height: 60px;
  height: 60px;
  padding-left: 60px;
  font-size: 18px;
}
.div-tab-content > .content-wraper {
  border-top: 1px solid #f2f2f2;
}
.div-tab-content > .content-wraper .content {
  margin: 0px auto;
  line-height: 36px;
  font-size: 16px;
  width: 95%;
  color: #666;
}
.div-tab-content > .content-wraper .content p {
  text-indent: 20px;
}

.desc {
  width: 960px;
  margin-top: 30px;
  border: 1px solid #f2f2f2;
}
.desc-title {
  line-height: 50px;
  height: 50px;
  padding-left: 60px;
}
.desc-content {
  width: 95%;
}
.desc-content-img {
  border: 1px solid #f2f2f2;
  text-align: center;
  padding: 1% 0px;
}
.desc-content-img > img {
  max-width: 98%;
  height: auto;
}
.desc-content-img-detail > p {
  line-height: 36px;
}

.price-plan {
  width: 960px;
  margin-top: 30px;
}
.price-plan > .plan-title {
  height: 36px;
}
.price-plan > .plan-title > b {
  height: 36px;
  line-height: 36px;
  vertical-align: top;
}
.price-plan > .plan-content {
  background-color: #f0f0f0;
}
.price-plan > .plan-content li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 87px;
}
.price-plan > .plan-content li > .day {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.price-plan > .plan-content li .date-price-wraper {
  width: 100%;
  height: 78px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  position: relative;
}
.price-plan > .plan-content li .date-price-wraper > .date {
  display: block;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.price-plan > .plan-content li .date-price-wraper > .price {
  display: block;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fe3000;
}
