html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  box-sizing: border-box;
  min-width: 1004px;
}
body a {
  text-decoration: none;
  cursor: pointer;
}

.topbar, .navbar-menu, .adv-img, .tags, .services, .orderbar, .route {
  margin-left: auto;
  margin-right: auto;
}

.top-line {
  border: none;
  border-bottom: 3px solid #ffd400;
}

.topbar {
  width: 960px;
}
.topbar-log-icon {
  height: 84px;
  width: 560px;
  background-color: #ffffff;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('../images/index/log.png?1443407088');
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.topbar-sign {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 240px;
}
.topbar-sign > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  height: 84px;
  line-height: 84px;
  vertical-align: middle;
}
.topbar-sign > li:first-child {
  padding-left: 0;
}
.topbar-sign > li:last-child {
  padding-right: 0;
}
.topbar-sign > li.last {
  padding-right: 0;
}
.topbar-sign > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0px 15px;
  line-height: 30px;
}
.topbar-sign > li > a:hover {
  background-color: #ffd400;
}
.topbar .contact {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 160px;
  height: 84px;
  background: #fff url('../images/index/contact.png?1443406873') no-repeat right center;
}

.navbar {
  width: 100%;
  background-color: #2e2e2e;
}
.navbar-menu {
  width: 960px;
  height: 45px;
}
.navbar-menu > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-menu > li:first-child {
  padding-left: 0;
}
.navbar-menu > li:last-child {
  padding-right: 0;
}
.navbar-menu > li.last {
  padding-right: 0;
}
.navbar-menu > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 45px;
  width: 238px;
  text-align: center;
  border-left: 1px solid #2e2e2e;
  border-right: 1px solid #2e2e2e;
  color: #ffffff;
}
.navbar-menu > li > a.active, .navbar-menu > li > a:hover {
  background-color: #ffd400;
  color: #2e2e2e;
}
.navbar.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.adv-img {
  *zoom: 1;
  width: 960px;
  margin-top: 90px;
}
.adv-img:after {
  content: "";
  display: table;
  clear: both;
}
.adv-img img {
  height: 90px;
  width: 100%;
}

.tags {
  width: 960px;
  margin-top: 25px;
}
.tag-row {
  border: 1px solid #f1f1f1;
  border-top: none;
}
.tag-row > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 68px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  color: #666;
}
.tag-row.first {
  border: 1px solid #f1f1f1;
}
.tag-row > span.tag-result {
  font-weight: normal;
  width: 100%;
  text-align: left;
  text-indent: 10px;
}
.tag-row > span.tag-result > b {
  color: #fe3000;
}
.tag-items {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.tag-items > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 38px;
}
.tag-items > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
  color: #666;
}
.tag-items > li > a.active {
  background-color: #fe3000;
  color: #ffffff;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.tag-items-condition > a {
  border: 1px dotted #fe3000;
  margin: 0px 5px;
}

.services {
  *zoom: 1;
  width: 960px;
  margin-top: 40px;
}
.services:after {
  content: "";
  display: table;
  clear: both;
}
.services li {
  float: left;
  *zoom: 1;
  width: 320px;
}
.services li:after {
  content: "";
  display: table;
  clear: both;
}
.services li img {
  float: left;
  width: 78px;
  height: 78px;
  margin-right: 12px;
}
.services li h1 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8em;
}
.services li span {
  font-size: 0.75em;
  line-height: 1.5em;
}

.footer {
  border-top: 1px dotted #dfdfdf;
  margin-top: 39px;
  text-align: center;
}
.footer .about {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  *zoom: 1;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  margin-top: 32px;
}
.footer .about:after {
  content: "";
  display: table;
  clear: both;
}
.footer .about li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #333333;
}
.footer .about li:first-child {
  padding-left: 0;
}
.footer .about li:last-child {
  padding-right: 0;
}
.footer .about li.last {
  padding-right: 0;
}
.footer .about li a {
  color: #3e85aa;
  margin: 0px 7px 0 7px;
}
.footer .about li.last {
  border-right: 0px;
}
.footer .copyright {
  height: 37px;
  text-align: center;
  display: block;
  line-height: 37px;
  vertical-align: middle;
  background-color: #373636;
  color: #666666;
  margin-top: 20px;
}

.orderbar {
  width: 960px;
  margin-top: 10px;
}
.order {
  border: 1px solid #f1f1f1;
}
.order > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 38px;
}
.order > li.order-title {
  width: 68px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
  height: 38px;
  color: #666;
}
.order > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
  color: #666;
}
.order > li > a.active {
  background-color: #fe3000;
  color: #ffffff;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.pagebar {
  text-align: center;
  margin-top: 60px;
}
.pagination > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0px 5px;
}
.pagination > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 38px;
  line-height: 38px;
  padding: 0px 20px;
  border: 1px solid #f2f2f2;
}
.pagination > li > a.active, .pagination > li > a:hover {
  background-color: #ffd400;
}

.route {
  margin-top: 30px;
  position: relative;
  border: 1px solid #f2f2f2;
  width: 960px;
}
.route-content {
  width: 940px;
  margin: 10px auto;
}
.route-content > img {
  width: 550px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.route-content-desc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 366px;
  height: 314px;
  margin-left: 20px;
}
.route-content-desc > h1 {
  font-weight: bold;
  color: #666;
  font-size: 22px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.route-content-desc > h2 {
  font-size: 18px;
  color: #999;
}
.route-content-ul {
  margin-top: 30px;
}
.route-content-ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.route-content-ul li > i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 5px;
  padding: 0px 10px;
  line-height: 24px;
  height: 24px;
  background-color: #fe3000;
  color: #ffffff;
  font-weight: bold;
}
.route-content-ul li > b {
  color: #fe3000;
}
.route:hover {
  border: 1px solid #ffd400;
}

.ul-table {
  display: table;
}
.ul-table > ul {
  display: table-row;
}
.ul-table > ul > li {
  display: table-cell;
  line-height: 36px;
}
