$ninesixty-columns: 24;
$ui-width : 960px;
$browser-minimum-versions : ("ie": "7");

body{
  box-sizing: border-box;
  min-width: 1004px;
  font-family: "Hiragino Sans GB","microsoft yahei","Tahoma,arial","ו","sans-serif";

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.divider-line{
  border: none;
  border-top: 1px dotted #999;
  width: 100%;
}