.orderbar{
  @extend %align-center;
  width: $ui-width;
  margin-top: 10px;

  @at-root .order{
    border: 1px solid #f1f1f1;

    >li{
      @include inline-block();
      line-height: 38px;

      &.order-title{
        width: 68px;
        text-align: center;
        font-weight: bold;
        line-height: 38px;
        height: 38px;
        color: #666;
      }

      > a{
        @include inline-block();
        height: 24px;
        line-height: 24px;
        padding: 0px 10px;
        color: #666;

        &.active{
          background-color: #fe3000;
          color: #ffffff;
          font-weight: bold;
          @include border-radius(3px);
        }
      }
    }
  }
}