@import "compass/support";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "960/grid";

@import
"base", "mixin", "variable",
"topbar", "navbar",
"foo_img", "service", "footer",
"table";

.route-wraper{
  @extend %align-center;
  width: $ui-width;
  margin-top: 30px;
  border: 1px solid $ui-border-color;

  @at-root .route-wraper-header{
    height: 36px;
    width: 100%;

    > h2{
      padding-left: 10px;
      font-size: 18px;
      line-height: 36px;
    }
  }

  @at-root .route-wraper-content{
    width: 100%;
    @include pie-clearfix();

    @at-root .route-wraper-content-left{
      @include float(left);
      width: 550px;
      display:inline;

      .img-screen{
        width: 100%;
        height: 314px;

        >img{
          width: 100%;
          height: 100%;
        }
      }

      .img-nav{
        font-size: 0px;
        position: relative;
        margin: 10px 0px;

        .img-nav-left-btn,.img-nav-right-btn{
          position: absolute;
          z-index: 10;
          a{
            display: block;
            width: 22px;
            height: 66px;
          }
        }

        .img-nav-left-btn{
          left: 0px;
          top: 0px;
          a {
            background: #fff image-url("detail/left_btn.jpg")  no-repeat center center;
          }
        }

        .img-nav-right-btn{
          right: 0px;
          top: 0px;
          a {
            background: #fff image-url("detail/right_btn.jpg") no-repeat center center;
          }
        }

        .image-nav-btn{
          @include pie-clearfix();
          margin-left: 22px;
          overflow: hidden;
          position: relative;
          width: 500px;
          height: 66px;

          > li{
            position: relative;
            display: inline;
            float: left;
            margin-right: 10px;

            >a{
              display: block;
              overflow: hidden;
              width: 104px;
              height: 66px;
              border:1px solid #ffffff;

              img{
                width: 100%;
                height: 100%;
              }

              &.active,&:hover{
                border:1px solid #fe3000;
              }
            }

          }
        }
      }

    }

    @at-root .route-wraper-content-right{
      @include float(right);
      width: 390px;
      display:inline;

      .right-content-top{
        margin-bottom: 20px;

        h1{
          font-size: 22px;
          font-weight: 700;
          line-height: 36px;
        }

        h2{
          font-size: 18px;
          color: #999999;
        }
      }

      .right-content{
        margin-top: 20px;

        li {
          @include inline-block();

          b{
            color: #fe3000;
          }

          i{
            @include inline-block();
            @include border-radius(3px);
            margin: 0px 5px;
            padding: 0px 10px;
            line-height: 22px;
            height: 22px;
            background-color: #fe3000;
            color: #ffffff;
            font-weight: bold;
          }
        }
      }
    }
  }

}



.ticket-group{
  @extend %align-center;
  width: $ui-width;
  margin-top: 30px;
  border: 1px solid $ui-border-color;
  border-bottom: none;

  @at-root .ticket-group-title{
    border-bottom: 1px solid $ui-border-color;

    >h2{
      font-size: 16px;
      color: #333333;
      line-height: 50px;
      height: 50px;
      padding-left: 10px;
    }
  }

  @at-root .ticket-group-content{
    ul.ticket{
      height: 120px;
      width: 100%;
      border-bottom: 1px dashed $ui-border-color;

      li{
        @include inline-block();
        text-align: center;

        &.ticket-icon{
          width: 20%;
          line-height: 0px;
          vertical-align: middle;
          height: 120px;

          > img{
            @include float(left);
            width: 90%;
            height: 80%;
            margin: 10px;
          }
        }

        &.ticket-name{
          width: 36%;
          text-align: left;

          h2{
            font-size: 18px;
            line-height: 22px;
          }

          p{
            font-size: 14px;
            color: #999;
            line-height: 18px;
          }
        }

        &.ticket-price{
          width: 10%;
          font-size: 22px;
          color: #fe3000;
          font-weight: 700;
        }

        &.ticket-market-price{
          width: 14%;
          color: #999;
        }

        &.ticket-btn{
          width: 10%;

          > .btn-book{
            background-color: #fe3000;
            color: #fff;
            font-size: 16px;

            &:hover{
              background-color: rgba(#fe3000, 0.6);
            }
          }
        }

      }
    }
  }
}


.div-tab{
  @extend %align-center;
  width: $ui-width;
  margin-top: 30px;
  border: 1px solid $ui-border-color;

  @at-root .div-tab-title{
    margin: 0px auto;
    width: 100%;
    background-color: #2e2e2e;

    >li{
      @include inline-block();
      height: 55px;
      width: 33.2%;
      line-height: 55px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      border-left: 1px solid #2e2e2e;

      &.active, &:hover{
        background-color:#fed330;
        border-left: 1px solid #2e2e2e;
      }
    }
  }

  @at-root .div-tab-content{
    > h2 {
      line-height: 60px;
      height: 60px;
      padding-left: 60px;
      font-size: 18px;
    }

    > .content-wraper{
      border-top: 1px solid $ui-border-color;

      .content{
        margin: 0px auto;
        line-height: 36px;
        font-size: 16px;
        width: 95%;
        color: #666;

        p{
          text-indent: 20px;
        }

      }
    }
  }
}

.desc{
  @extend %align-center;
  width: $ui-width;
  margin-top: 30px;
  border: 1px solid $ui-border-color;

  @at-root .desc-title{
    line-height: 50px;
    height: 50px;
    padding-left: 60px;
  }

  @at-root .desc-content{
    @extend %align-center;
    width: 95%;

    @at-root .desc-content-img{
      border: 1px solid $ui-border-color;
      text-align: center;
      padding: 1% 0px;

      >img{
        max-width: 98%;
        height: auto;
      }
    }

    @at-root .desc-content-img-detail{
      > p{
        line-height: 36px;
      }
    }

  }
}

.price-plan{
  @extend %align-center;
  width: $ui-width;
  margin-top: 30px;

  > .plan-title{
    height: 36px;

    >b{
      height: 36px;
      line-height: 36px;
      vertical-align: top;
    }
  }

  > .plan-content{
    background-color: #f0f0f0;

    li{
      @include inline-block();
      width: 87px;

      > .day{
        @include inline-block();
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }

      .date-price-wraper{
        width: 100%;
        height: 78px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        position: relative;

        > .date{
            display: block;
            line-height: 20px;
            font-size: 12px;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        > .price{
          display: block;
          line-height: 20px;
          font-size: 12px;
          position: absolute;
          right: 5px;
          bottom: 5px;
          color: #fe3000;
        }
      }
    }
  }

}











